* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    list-style: none;
    text-decoration: none;

}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #500202;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header{
    margin-top: 80px;
    padding-bottom: 20px;
    color: white;
}

.card{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
    color: white;
    background: #7c0f0f;
    border-radius: 15px;
}

.buttons button{
    color: white;
    background: #a82525;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.resultado{
    padding-left: 15px;
    width: 500px;
    height: 150px;
    color: white;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 10px;
    background: #7c0f0f;
    border-radius: 15px;
    gap: 15px;
}

